venv/
build/
*.DS_store
*.DS_Store
*._.DS_store
*._.DS_Store
*.pyc
*.csv
*.log
*.txt
media/
*__pycache__
*.ipynb_notebooks
django-app/django_app/db.sqlite3
drivers/
static_cdn/
pdf-extraction/pdf-extraction/nlp/pipeline/
.vscode
*.env
log/
checkpoint/